:root {
    --light-body: #f5f3f3;
    --light-main: #f5f3f3;
    --light-second: #f5f3f3;
    --light-text: #292929;

    --green: #0b6252;
    --white: #f5f3f3;

    --font-family: 'Lato', sans-serif;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-txt: var(--light-text);
}

*{
    padding: 0;
    margin: 0;
}

html, body {
    font-family: var(--font-family);
    background-color: var(--bg-body);
}

.calendar {
    height: max-content;
    width: 100%;
    background-color: var(--bg-main);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    height: 50px;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--green);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

#month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
} 

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div.curr-date {
    background-color: var(--green);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    color: var(--color-txt);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale();
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100px;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}