*{
    padding: 0;
    margin: 0;
}

html, body {
    place-items: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
}

.container {
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 100%;
}

.calendar{
    height: 610px;
    width: max-content;
    background-color: white;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
}

.calendar-header{
    background: #C6EBBE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 10px;
}

.calendar-body{
    pad: 10px;
}
.calendar-week-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 700;
    color: #0B6253;
}

.calendar-week-days div{
    display: grid;
    place-items: center;
    height: 50px;
    color: #0B6253;
}

.calendar-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: #000;
}

.calendar-days div{
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    animation: to-top 1s forwards;
}

.month-picker{
    padding: 5px, 10px;
    border-radius: 10px;
    cursor: pointer;
}

.year-picker{
    display: flex;
    align-items: center;
}

.year-change{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px, 10px;
    cursor: pointer;
}

.calendar-footer{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calendar-days div span{
    position: absolute;
}

.ƒ{
    position: relative;
    left: 0;
    top: -50px;
    background-color: #C6EBBE;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
}

.month-list > div{
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
}

.month-list > div > div{
    border-radius: 15px;
    padding: 10px;
}

.month-list .show{
    visibility: visible;
    pointer-events: visible;
    transition: 0.6 ease-in-out;
    animation: to-left .71s forwards;
}

.month-list .hideonce{
    visibility: hidden;
}

.month-list .hide{
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
}

.date-time-formate{
    width: max-content;
    height: max-content;
    font-family: 'Lato';
    position: relative;
    display: inline;
    top: 140px;
    justify-content: center;
}

.day-text-formate{
    font-family: "Lato";
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #C6EBBE;
    position: absolute;
    left: -1rem;
}

.date-time-value{
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 40px;
    top: -18px;
    text-align: center;
}

.day-text-formate .hidetime{
    animation : hidetime 1s forwards;
}

.date-formate .showtime{
    animation : showtime 1s forwards;
}

@keyframes to-top{
  0%{
    transform: translateY(0);
    opacity: 0;
  } 100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes to-left{
  0%{
    transform: translateX(230%);
    opacity: 1;
  } 100% {
    transform: translateX(230%);
    opacity: 1;
  }
}

@keyframes to-right{
    0%{
      transform: translateX(0%);
      opacity: 1;
    } 100% {
      transform: translateX(-150%);
      opacity: 1;
    }
}

@keyframes showtime {
    0%{
        transform: translateX(150%);
        opacity: 1;
      } 100% {
        transform: translateX(0%);
        opacity: 1;
      }
}

@keyframes hidetime {
    0%{
        transform: translateX(0%);
        opacity: 1;
      } 100% {
        transform: translateX(-370%);
        opacity: 1;
      }
}

@media (max-width: 375px) {
    .month-list>div{
        margin: 5px 0px;
    }
}