.sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr{
    display: block;
    border-style: inset;
    border-width: 1px;
    border-color: #D9D9D9;
    margin-left: 16px;
    margin-right: 16px;
}

.add{
    display: block;
    margin-right: 0; 
    margin-left: auto;
    padding-right: 16px;
}

span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: #0B6253;
}

.opmerking{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.herinnering{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}