:root {
    --black: #292929;
    --white: #f5f3f3;
    --gray: #D9D9D9;

    --green: #0b6252;
    --light-green: #c6ebbe;

    --font-title: 'Arial Rounded MT Bold', sans-serif;  
    --font-family: 'Lato', sans-serif;
}

body{
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--white);
}

h1{
    font-family: var(--font-title);            
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

h2{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.02em;
    padding-left: 16px;
    padding-right: 16px;
}

p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    padding-left: 16px;
    padding-right: 16px;
}

a{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: var(--green);
    padding-left: 16px;
    padding-right: 16px;
}

.nav{
    height: 104px;
    width: 100%;
    max-width: 500px;
    background-color: var(--green);
    position: fixed;
    bottom: 0;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav svg{
    padding-top: 8px;
}

.nav a{
    color: var(--light-green);
    text-decoration: none;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    display: inline-block;
    padding-top: 8px;
}

.checked svg{
    fill: var(--light-green);
}

.checked svg path{
    stroke: var(--green);
}

.checked svg circle{
    fill: var(--light-green);
}

.checked a{
    font-weight: 700;
}
